.arrowstyle {
    fill: limegreen;
    stroke-width: 0;
}

.area.ausland {
    fill:#666666;
}

.area.deutschland {
    fill:#8C8C8C;
}
.area.bayern {
    fill:#B2B2B2
}

.area.inside-m {
    fill:#D8D8D8;
}


.area {
    stroke:black;
    stroke-width:1px;
}

.area:hover {
    pointer-events:all;
}

.area.outside-m:hover {
    fill: steelblue;
}

.area.inside-m:hover {
    fill: steelblue;
}

.area.selected, .area.selected:hover {
    fill: orange;
}

.arrow {
    z-index: 10;
    position: absolute;
    top: 142px;
    left: -62px;
    motion-offset: 100%;
    margin: 0 auto;
    will-change: transform;
}