@keyframes reversemotion {
     0% {
         opacity: 0;
         motion-offset:100%;
     }
     1% {
         opacity: 1;
     }
    25% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
     99% {
         opacity: 1;
     }
     100% {
         opacity: 0;
         motion-offset:0%;
     }
 }

@keyframes greystraightmotion {
    0% {
        opacity: 0;
        motion-offset:0%;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;

    }
    70% {
        opacity: 1;

    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        motion-offset:100%;
    }
}

@keyframes greyreversemotion {
    0% {
        opacity: 0;
        motion-offset:100%;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;

    }
    70% {
        opacity: 1;

    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        motion-offset:0%;
    }
}

@keyframes straightmotion {
    0% {
        opacity: 0;
        motion-offset:0%;
    }
    1% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        motion-offset:100%;
    }
}

.area.ausland {
    fill:#666666;
}

.area.deutschland {
    fill:#8C8C8C;
}
.area.bayern {
    fill:#B2B2B2
}

.area.inside-m {
    fill:#D8D8D8;
}

.area.ausland.hovered {
    fill: hsl(220, 52%, 40%);
}

.area.deutschland.hovered {
    fill: hsl(220, 52%, 54%);

}
.area.bayern.hovered {
    fill: hsl(220, 52%, 69%);
}

.area.inside-m.hovered {
    fill: hsl(220, 52%, 84%);
}



.area.ausland.selected {
    fill: hsl(112, 64%, 40%);
}

.area.deutschland.selected {
    fill: hsl(112, 64%, 54%);

}
.area.bayern.selected {
    fill: hsl(112, 64%, 69%);
}

.area.inside-m.selected {
    fill: hsl(112, 64%, 84%);
}


.area {
    stroke:black;
    stroke-width:0.7px;
}

.area.shine {
    stroke: yellow;
}

.area:hover {
    pointer-events:all;
}


.area.selected {
    fill: green;
}
/*.area.outside-m:hover {*/
    /*fill: steelblue;*/
/*}*/

/*.area.inside-m:hover {*/
    /*fill: steelblue;*/
/*}*/

/*.area.selected, .area.selected:hover {*/
    /*fill: orange;*/
/*}*/

.greenDiv {
    z-index: 10;
    position: absolute;
    top: 142px;
    left: -58px;
    opacity:0;
    margin: 0 auto;
    will-change: transform;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    max-height: 14px;
    pointer-events:none;
}

.greenSvg {
    /*fill: darkgreen;*/
    fill: white;
    stroke-width: 0;
    opacity: 0.6;
}

.redSvg {
    /*fill: crimson;*/
    fill: black;
    stroke-width: 0;
    opacity: 0.6;
}

.greySvg {
    fill: darkgrey;
    stroke-width: 0;
    box-shadow: darkgrey;
}

.redDiv {
    z-index: 9;
    position: absolute;
    top: 142px;
    left: -58px;
    opacity:0;
    margin: 0 auto;
    will-change: transform;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    max-height: 14px;
    pointer-events:none;

}

.greyDiv {
    z-index: 8;
    position: absolute;
    top: 142px;
    left: -62px;
    opacity:0;
    margin: 0 auto;
    will-change: transform;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    max-height: 14px;
    pointer-events:none;

}

.currentLine {
    stroke: white;
    opacity: 0.8;
    stroke-width: 14;
    fill: none;
}

.currentLine:hover {
    stroke: orange;
}

.currentLineShadow {
    stroke: black;
    opacity: 0.1;
    stroke-width: 10;
    fill: none;
}

#yearslider {
    min-width: 100%;
}

#areaName {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding:3px 6px 3px 6px;
    border-radius:10px;
    z-index:1000;
}