body {
    background: #333333;
    color: lightgray;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 9pt;

}

/*h1, h2, h3, h4 {*/
/*color: #ed5565; }*/

h2 {
    font-size: 2em; }

h4 {
    font-size: 10pt;
}

h3, h4 {
    margin-bottom: 3px;
    margin-top:0px;
}

a {
    color: #ed5565; }


div {
    /*border: 1px solid orange;*/
}

.connectionInfoDiv {
    border: 1px solid transparent;
    padding: 0px 5px 0px 5px;
    width: 574px;
    border-radius:5px;
}

#connectionInfosContainer {
    padding-top: 50px;
    /*border:1px solid orange;*/

}

.connectionInfoDiv:hover {
    /*border: 1px solid grey;*/
}

.closeButton {
    position: relative;
    font-size:12pt;
    float: right;
    right: 0px;
    top: 10px;
}


#yearslider {
    width: 250px;
    display: none;
}

#currentyearspan {

    padding:3px 6px 3px 6px;
    border-radius:10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;

}